<div class="nav" data-v-675d8756="">
    <nav class="nav-links" data-v-675d8756="" data-v-eab3edfe="">
        <!--[-->
        <div class="item" data-v-eab3edfe="">
            <div class="nav-link" data-v-eab3edfe="" data-v-b8818f8c=""><a class="item" href="/guide/"
                    data-v-b8818f8c="">Guide
                    <!----></a></div>
        </div>
        <div class="item" data-v-eab3edfe="">
            <div class="nav-link" data-v-eab3edfe="" data-v-b8818f8c=""><a class="item active" href="/api/"
                    data-v-b8818f8c="">API Reference
                    <!----></a></div>
        </div>
        <div class="item" data-v-eab3edfe="">
            <div class="nav-link" data-v-eab3edfe="" data-v-b8818f8c=""><a class="item isExternal"
                    href="https://github.com/vuejs/vuex/releases" target="_blank" rel="noopener noreferrer"
                    data-v-b8818f8c="">Release Notes <svg class="icon outbound" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15"
                        data-v-b8818f8c="">
                        <path fill="currentColor"
                            d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z">
                        </path>
                        <polygon fill="currentColor"
                            points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9">
                        </polygon>
                    </svg></a></div>
        </div>
        <div class="item" data-v-eab3edfe="">
            <div class="nav-dropdown-link" data-v-eab3edfe="" data-v-56bf3a3f=""><button class="button"
                    data-v-56bf3a3f=""><span class="button-text" data-v-56bf3a3f="">v4.x</span><span
                        class="right button-arrow" data-v-56bf3a3f=""></span></button>
                <ul class="dialog" data-v-56bf3a3f="">
                    <!--[-->
                    <li class="dialog-item" data-v-56bf3a3f="">
                        <div class="nav-dropdown-link-item" data-v-56bf3a3f="" data-v-bbc27490=""><a
                                class="item isExternal" href="https://v3.vuex.vuejs.org/" target="_blank"
                                rel="noopener noreferrer" data-v-bbc27490=""><span class="arrow"
                                    data-v-bbc27490=""></span><span class="text" data-v-bbc27490="">v3.x</span><span
                                    class="icon" data-v-bbc27490=""><svg class="icon outbound"
                                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true" x="0px" y="0px"
                                        viewBox="0 0 100 100" width="15" height="15" data-v-bbc27490="">
                                        <path fill="currentColor"
                                            d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z">
                                        </path>
                                        <polygon fill="currentColor"
                                            points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9">
                                        </polygon>
                                    </svg></span></a></div>
                    </li>
                    <!--]-->
                </ul>
            </div>
        </div>
        <!--]-->
        <div class="item" data-v-eab3edfe="">
            <div class="nav-dropdown-link" data-v-eab3edfe="" data-v-56bf3a3f=""><button class="button"
                    data-v-56bf3a3f=""><span class="button-text" data-v-56bf3a3f="">Languages</span><span
                        class="right button-arrow" data-v-56bf3a3f=""></span></button>
                <ul class="dialog" data-v-56bf3a3f="">
                    <!--[-->
                    <li class="dialog-item" data-v-56bf3a3f="">
                        <div class="nav-dropdown-link-item" data-v-56bf3a3f="" data-v-bbc27490=""><a class="item active"
                                href="/api/" data-v-bbc27490=""><span class="arrow" data-v-bbc27490=""></span><span
                                    class="text" data-v-bbc27490="">English</span><span class="icon" data-v-bbc27490="">
                                    <!----></span></a></div>
                    </li>
                    <li class="dialog-item" data-v-56bf3a3f="">
                        <div class="nav-dropdown-link-item" data-v-56bf3a3f="" data-v-bbc27490=""><a class="item"
                                href="/zh/api/" data-v-bbc27490=""><span class="arrow" data-v-bbc27490=""></span><span
                                    class="text" data-v-bbc27490="">简体中文</span><span class="icon" data-v-bbc27490="">
                                    <!----></span></a></div>
                    </li>
                    <li class="dialog-item" data-v-56bf3a3f="">
                        <div class="nav-dropdown-link-item" data-v-56bf3a3f="" data-v-bbc27490=""><a class="item"
                                href="/ja/api/" data-v-bbc27490=""><span class="arrow" data-v-bbc27490=""></span><span
                                    class="text" data-v-bbc27490="">日本語</span><span class="icon" data-v-bbc27490="">
                                    <!----></span></a></div>
                    </li>
                    <li class="dialog-item" data-v-56bf3a3f="">
                        <div class="nav-dropdown-link-item" data-v-56bf3a3f="" data-v-bbc27490=""><a class="item"
                                href="/ptbr/api/" data-v-bbc27490=""><span class="arrow" data-v-bbc27490=""></span><span
                                    class="text" data-v-bbc27490="">Português</span><span class="icon"
                                    data-v-bbc27490="">
                                    <!----></span></a></div>
                    </li>
                    <!--]-->
                </ul>
            </div>
        </div>
        <div class="item" data-v-eab3edfe="">
            <div class="nav-link" data-v-eab3edfe="" data-v-b8818f8c=""><a class="item isExternal"
                    href="https://github.com/vuejs/vuex" target="_blank" rel="noopener noreferrer"
                    data-v-b8818f8c="">GitHub <svg class="icon outbound" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15"
                        data-v-b8818f8c="">
                        <path fill="currentColor"
                            d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z">
                        </path>
                        <polygon fill="currentColor"
                            points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9">
                        </polygon>
                    </svg></a></div>
        </div>
    </nav>
</div>